<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/bookmarks.js}"></script>
</head>
<body>
    <h1><a href="/">GitHub Repo Analysis</a></h1>
    <form method="get" th:action="@{/search}">
        <div class="row">
            <div class="col">
                <input type="text" id="query" name="query" class="form-control form-control-lg"
                       placeholder="GitHub Repository Name" label="Github Repository Name" />
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary btn-lg">Search</button>
            </div>
        </div>
    </form>
    <div id="bookmarks-section">
    </div>
</body>
</html>